/*____________________NAVBAR________________*/

/*LAPTOP VIEW*/
*{
  box-sizing: border-box;
}

.menu.menu--active {
    background-color:black;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.14);
    margin-right: 0px;
}

.logoimg{
    float: left;
    z-index: 100;
}
.logo
{
    margin: 8px;
    padding: 5px;

    width:50px;
    transform: translateX(-100rem);
     animation: slideIn .5s forwards;

}

.logo img
{
    max-height: 50px;
    border-radius: 50%;

}
.menu {
    position: fixed;
    padding: 0;
    height: 0;
    top: 0;
    z-index: 100;
    width: 80%;
    margin: auto;
    height: 150vh;
    transition: all .5s;
    background-color: black;
}


div {
    display: block;
}

/* @media (min-width: 1200px){
.container {
    max-width: 1140px;
}
}
@media (min-width: 992px){
.container {
    max-width: 960px;
}
}
@media (min-width: 768px){
.container {
    max-width: 720px;
}
}
@media (min-width: 576px){
.container {
    max-width: 540px;
} */

nav ul li {
    float: right;
}

.navcontainer {
    margin-right: auto;
    margin-left: auto;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    width: 80%;
}
div {
    display: block;
}

.navrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 25px;
    margin-left: 25px;
}
.menu .menu__wrapper {
    z-index: 1;
    margin-top: 10px;
    transition: all .3s;

}


/* .menu .menu__wrapper nav {
    font-size: 14px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    font-weight: 700;
} */
nav {
    display: flex;
    font-size: 1.6rem;
    line-height: 18px;
    font-family: Roboto Mono,monospace,serif,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}






nav ul li a {
    padding: 0.5rem ;
    margin-bottom:  0 1rem;
    letter-spacing: 1px;
    position: relative;
}
/*aniamtion nav  links*/
nav ul li:nth-child(4){
  animation-delay: 0s;
}
nav ul li:nth-child(3){
  animation-delay: .5s;
}
nav ul li:nth-child(2){
  animation-delay: 1s;
}
nav ul li:nth-child(1){
  animation-delay: 1.5s;
}
nav ul li a span::before,
nav ul li a span::after{
  content:'   ';
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}
nav ul li a span::before{
  top: 0;
  transform-origin: left;
}
nav ul li a span::after{
  bottom: 0;
  transform-origin: right;
}
nav ul li a span:hover::before,
nav ul li a span:hover::after{
  transform: scaleX(1);
}
@keyframes slideIn{
  from{

  }
  to{
    transform: translateX(0);
  }

}
/* a {
    background-color: transparent;
    text-decoration: none;
     -webkit-text-decoration-skip: objects;
} */
/*LAPTOPVIEW*/


/*PHONE VIEW*/

.menu.menu--active {
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.14);

}

.menu {
    position: fixed;
    padding: 0;
    height: 0;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 70px;
    transition: all .5s;
}

div {
    display: block;
}

.navcontainer {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.navrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.menu.menu--active .menu__wrapper {
    margin-top: -10px;
}

.menu .menu__wrapper {
    z-index: 100;
    margin-top: 0px;
    transition: all 3s;
}


nav {
    font-size: 12px;
    line-height: 18px;
    font-family: Roboto Mono,monospace,serif, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}
article, aside, footer, header, nav, section {
    display: block;
}
dl, ol, ul {
    margin-top: 0;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}

ul {
    display: block;
  
}
nav ul li {
    display: inline-block;


}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    padding: 0;
    list-style: none;
}

ul {
    list-style-type: disc;
}

.menu .menu__wrapper nav a {
    color: #fff;
    opacity: 1;
}
nav ul li a {
    padding-right: 50px;
    color: #999;
}

/*PHONE VIEW*/

.menu.menu--active {
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.14);
}
.menu {
    position: fixed;
    padding: 0;
    height: 0;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 70px;
    transition: all .5s;
}

div {
    display: block;
}

.navcontainer {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.navrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
    margin: auto;
}

.menu .menu__wrapper {
    z-index: 200;
    margin-top: -10px;
    transition: all .3s;
    float: right;
}
.d-none {
    display: none!important;
}
.menu .menu__wrapper nav {
    font-size: 14px;
    line-height:20px;
    font-family: Roboto Mono,monospace,serif,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
nav {
    font-size: 12px;
    line-height: 18px;
    font-family: Roboto Mono,monospace,serif,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}
article, aside, footer, header, nav, section {
    display: block;
}
dl, ol, ul {
    margin-top: 0;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}

ul {
    display: block;

}
nav ul li {
    display: inline-block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    padding: 0;
    list-style: none;
}

ul {
    list-style-type: disc;
}
/*scrolling Navbar effect*/

.menu.menu--active .menu__wrapper a {
    color: #fff!important;
    opacity: 1;
}
.menu .menu__wrapper nav a {
    color: #fff;
    opacity: 1;
}
nav ul li a {
    padding-right: 50px;
    color: #999;
}
/*----*/

.d-none{
    display: inline;
}








/*____________________REST PAGE______________________*/
/*



/*______________________________EXTRA_DESIGN_CARDS_________________________________*/

/*----------------------conatainer section---------------*/




/*------------------js loaded project-------------------*/



*, :after, :before {
    box-sizing: inherit;
}

div {
    display: block;
}

/*--------------------row project card--------------------*/

.project-card {
    margin-left: 0px;
    margin-bottom: 40px;
    margin-right: 0px;
    padding-right: 15px;
    padding-left: 15px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, :after, :before {
    box-sizing: inherit;
}


/*-------------proect card img-------------*/
.project-card .project-card__img {
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 768px){
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

div {
    display: block;
}
/*-----------------img--------------------*/
.project-card .project-card__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
img {
    border-style: none;
}
img {
    vertical-align: middle;
}


/*---------------project card info----------------*/
.project-card .project-card__info {
    border: 1px solid rgb(197, 191, 191);
    padding: 50px 50px 40px 30px;
    transition: box-shadow .3s;
    box-shadow: 2px 0px 3px #bdb6b6;
    
}
@media (min-width: 768px){
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
*, :after, :before {
    box-sizing: inherit;
}

div {
    display: block;
}

/*------------------h3-------------------*/

.project-card .project-card__title {
    font-size: 18px;
    line-height: 30px;
    font-family: Roboto Mono,monospace,serif,sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
}
.h3, h3 {
    font-size: 1.75rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
*, :after, :before {
    box-sizing: inherit;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/*----------p------------*/

.project-card .project-card__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 45px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, :after, :before {
    box-sizing: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*------modal-----*/


/*_____________modals_images________________*/
button{
    float: right;
}
.btn{
    float: right;
}

/*__________FOOTER_________*/
footer{
    height: 100px;
    bottom: 0;
   margin-top: 10vh;
   padding-top: 1vh;
   padding-bottom:1vh ;
    align-items: center;
}
.copyright{
    margin-top: 30px;
    color:#92999f;
    text-align: center;
}

/**__________RED____UNDERLINE_______________***/


.faq-title h2 {
    font-size: 30px;
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 900;
    line-height: 1;
    font-family: Roboto Mono,monospace,serif,sans-serif;
  }
  .faq-title h2::before {
      content: "";
      position: absolute;
      left: 25%;
      width: 230px;
      height: 3px;
      background: red ;/*  #E91E63; */
      bottom: -12px;
      margin-left: -52px;
      font-family: Roboto Mono,monospace,serif,sans-serif;
  }

  @media (max-width: 880px) {
    .faq-title h2{
        font-size: 28px;
    }
 
}