
.main{
   background-color:#255;
}

.main-h{
  text-align: center;
  margin-left:10px;
  padding-top:30px;
  font-size:30px;
  color:#006666;
  text-shadow: 3px 3px 3px #000;
  }


.book{
   background-color:#006666;
}
.box{
padding: 40px 40px 40px 40px ;

}

.book {
    margin-bottom: 40px;
    transition: box-shadow .3s;
    margin-right: 0;
    box-shadow: 2px 2px 6px #808080;
     padding: 10px 0px 10px 10px ;
}

.book:hover{
  box-shadow: 2px 2px 10px black;
}


.book_title{
  text-align:left;
  margin-left:10px;
  padding-top:30px;
  font-size:25px;
  color:#e654;
  text-shadow: 1.5px 1.5px 1.5px #000;
}


.book.book_abt {
    border: 2px solid #f1f1f1;
    padding: 50px 50px 40px 30px;

}


.book.book_pic {
    padding: 10px 10px 10px 10px ;
  
}
.picture {
     height: 100%;
    width:100%;
   -o-object-fit: cover;     
}


   {
  box-sizing: border-box;
}



@media screen and (max-width: 500px) {
  .row {
    flex-direction: column;
  }
 
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .picture  {
    width: 100%;
    height:100%;
    padding-right: 
  }
}
}
  @media only screen and (max-width:800px) {
  /* For tab: */
  .picture  {
    width: 80%;
    height:100;
  }

}



