/*____________________NAVBAR________________*/

/*LAPTOP VIEW*/
*{
  box-sizing: border-box;
}
.menu.menu--active {
    background-color:white;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.14);
    margin-right: 0px;
}

.logoimg{
    float: left;
    z-index: 100;
}
.logo
{
    margin: 8px;
    padding: 5px;

    width:50px;
    transform: translateX(-100rem);
     animation: slideIn .5s forwards;

}

.logo img
{
    max-height: 50px;
    border-radius: 50%;

}
.menu {
    position: fixed;
    padding: 0;
    height: 0;
    top: 0;
    z-index: 100;
    width: 80%;
    margin: auto;
    height: 150vh;
    transition: all .5s;
    background-color: black;
}


div {
    display: block;
}

/* @media (min-width: 1200px){
.container {
    max-width: 1140px;
}
}
@media (min-width: 992px){
.container {
    max-width: 960px;
}
}
@media (min-width: 768px){
.container {
    max-width: 720px;
}
}
@media (min-width: 576px){
.container {
    max-width: 540px;
} */

nav ul li {
    float: right;
}

.navcontainer {
    margin-right: auto;
    margin-left: auto;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    width: 80%;
}
div {
    display: block;
}

.navrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 25px;
    margin-left: 25px;
}
.menu.menu--active .menu__wrapper {
    margin-top: 20px;
}
.menu .menu__wrapper {
    z-index: 1;
    margin-top: 10px;
    transition: all .3s;

}
@media (min-width: 992px){
.d-lg-block {
    display: block!important;
}
}
.d-none {
    display: none!important;
}
@media (min-width: 768px){
.col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}
}


/* .menu .menu__wrapper nav {
    font-size: 14px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    font-weight: 700;
} */
nav {
    display: flex;
    font-size: 1.6rem;
    line-height: 18px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}
article, aside, footer, header,  section {
    display: block;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}


ol, ul {
    padding: 0;
    list-style: none;
}
hr, ol, ul {
    margin: 0;
}
dl, ol, ul {
    margin-top: 0;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}
ul {
    display: flax;
    list-style-type: disc;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

nav ul li {
  list-style: none;
    display: flax;
    text-align: center;
      transform: translateX(100rem);
       animation: slideIn .5s forwards;
}


li {
    display: flax;
    /* text-align: -webkit-match-parent; */
    text-align: center;
}

nav ul li a {
    padding: 0.5rem ;
    margin-bottom:  0 1rem;
    letter-spacing: 1px;
    position: relative;
}
/*aniamtion nav  links*/
nav ul li:nth-child(4){
  animation-delay: 0s;
}
nav ul li:nth-child(3){
  animation-delay: .5s;
}
nav ul li:nth-child(2){
  animation-delay: 1s;
}
nav ul li:nth-child(1){
  animation-delay: 1.5s;
}
nav ul li a span::before,
nav ul li a span::after{
  content:'   ';
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}
nav ul li a span::before{
  top: 0;
  transform-origin: left;
}
nav ul li a span::after{
  bottom: 0;
  transform-origin: right;
}
nav ul li a span:hover::before,
nav ul li a span:hover::after{
  transform: scaleX(1);
}
@keyframes slideIn{
  from{

  }
  to{
    transform: translateX(0);
  }

}
/* a {
    background-color: transparent;
    text-decoration: none;
     -webkit-text-decoration-skip: objects;
} */
/*LAPTOPVIEW*/



/*MOBILE MENU ANIMATION*/
.mobile-menu__wrapper ul li:nth-child(4){
  animation-delay: 0s;
}
.mobile-menu__wrapper ul li:nth-child(3){
  animation-delay: .5s;
}
.mobile-menu__wrapper ul li:nth-child(2){
  animation-delay: 1s;
}
.mobile-menu__wrapper ul li:nth-child(1){
  animation-delay: 1.5s;
}
.mobile-menu__wrapper ul li a::before,
.mobile-menu__wrapper ul li a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}
.mobile-menu__wrapper ul li a::before{
  top: 0;
  transform-origin: left;
}
.mobile-menu__wrapper ul li a::after{
  bottom: 0;
  transform-origin: right;
}
.mobile-menu__wrapper ul li a:hover::before,
.mobile-menu__wrapper ul li a:hover::after{
  transform: scaleX(1);
}

/*PHONE VIEW*/

.menu.menu--active {
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.14);

}
.fa {
    text-align: right;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.menu {
    position: fixed;
    padding: 0;
    height: 0;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 70px;
    transition: all .5s;
}

div {
    display: block;
}

.navcontainer {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.navrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.menu .menu__wrapper {
    z-index: 100;
    margin-top: 0px;
    transition: all 3s;
}
.d-none {
    display: none!important;
}
.menu .menu__wrapper nav {
    font-size: 14px;
    line-height: 10px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    font-weight: 700;
}
nav {
    font-size: 12px;
    line-height: 18px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}
article, aside, footer, header, nav, section {
    display: block;
}
dl, ol, ul {
    margin-top: 0;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
}
nav ul li {
    display: inline-block;
    align-items: center;

}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    padding: 0;
    list-style: none;
}

ul {
    list-style-type: disc;
}

.menu .menu__wrapper nav a {
    color: #fff;
    opacity: 1;
}
nav ul li a {
    padding-right: 50px;
    color: #999;
}

/*PHONE VIEW*/

.menu.menu--active {
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.14);
}
.menu {
    position: fixed;
    padding: 0;
    height: 0;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 70px;
    transition: all .5s;
}

div {
    display: block;
}

.navcontainer {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.navrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
    margin: auto;
}

.menu.menu--active .menu__wrapper {
    margin-top: 0px;
}
.menu .menu__wrapper {
    z-index: 200;
    margin-top: 0px;
    transition: all .3s;
    float: right;
}
.d-none {
    display: none!important;
}
.menu .menu__wrapper nav {
    font-size: 14px;
    line-height:20px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    font-weight: 700;
}
nav {
    font-size: 12px;
    line-height: 18px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}
article, aside, footer, header, nav, section {
    display: block;
}
dl, ol, ul {
    margin-top: 0;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}

ul {
    display: block;

}
nav ul li {
    display: inline-block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    padding: 0;
    list-style: none;
}

ul {
    list-style-type: disc;
}
/*scrolling Navbar effect*/

.menu.menu--active .menu__wrapper a {
    color: #000!important;
    opacity: 1;
}
.menu .menu__wrapper nav a {
    color: #fff;
    opacity: 1;
}
nav ul li a {
    padding-right: 50px;
    color: #999;
}
/*----*/

/*OVERLAYER*/
button{
    float: right;
}
.menu .menu__mobile-button {
    color: red;
    opacity: 1;
    transition: all .3s;
    background-color: black;
    border: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}
.mobile-menu.active {
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 1;
}

.mobile-menu {
    position: fixed;
    top: 20px;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    text-align: center;
    z-index: 9999;
    transition: all .3s ease;
    padding: 0;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
}
.mobile-menu .mobile-menu__close {
    color: #fff;
    transition: all .5s;
    position: relative;
    top: 50px;
    background-color: transparent;
    border: none;
    text-align: right;

    width: 80%;
    margin: auto;
}

.mdi-close:before {
    content: "\F156";
}
.mdi:before, .mdi-set {

    float: right;
}
.mobile-menu .mobile-menu__wrapper {
    height: 100%;
    overflow: auto;
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 60px;
    text-align: center;
}
nav {

    margin-bottom: 30px;
}
.fa-bars:before {
    color:#fff;
}
.fa-bars:after {
    color:#000;
}

.mobile-menu .mobile-menu__wrapper ul {
    padding: 30px 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100%;
}
ol, ul {

    list-style: none;
}
.mobile-menu .mobile-menu__wrapper ul li {
    list-style: none;
    padding: 6px 0;
}
nav ul li {
    display: inline-block;
}

.mobile-menu .mobile-menu__wrapper ul li a {
    color: #fff;
    display: inline-block;
    padding: 11px;
    position: relative;
}

a {
    transition: all .3s;
    text-decoration: none;
    cursor: pointer;
}

*, :after, :before {
    box-sizing: inherit;
}

div {
    display: block;
}










/*____________________REST PAGE______________________*/
/*



/*______________________________EXTRA_DESIGN_CARDS_________________________________*/

/*----------------------conatainer section---------------*/




/*------------------js loaded project-------------------*/



*, :after, :before {
    box-sizing: inherit;
}

div {
    display: block;
}

/*--------------------row project card--------------------*/

.project-card {
    margin-left: 0px;
    margin-bottom: 40px;
    margin-right: 0px;
    padding-right: 15px;
    padding-left: 15px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, :after, :before {
    box-sizing: inherit;
}


/*-------------proect card img-------------*/
.project-card .project-card__img {
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 768px){
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

div {
    display: block;
}
/*-----------------img--------------------*/
.project-card .project-card__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
img {
    border-style: none;
}
img {
    vertical-align: middle;
}


/*---------------project card info----------------*/
.project-card .project-card__info {
    border: 1px solid rgb(197, 191, 191);
    padding: 50px 50px 40px 30px;
    transition: box-shadow .3s;
    box-shadow: 2px 0px 3px #bdb6b6;
    
}
@media (min-width: 768px){
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
*, :after, :before {
    box-sizing: inherit;
}

div {
    display: block;
}

/*------------------h3-------------------*/

.project-card .project-card__title {
    font-size: 18px;
    line-height: 30px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
}
.h3, h3 {
    font-size: 1.75rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
*, :after, :before {
    box-sizing: inherit;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/*----------p------------*/

.project-card .project-card__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 45px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, :after, :before {
    box-sizing: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*------modal-----*/


/*_____________modals_images________________*/