* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url(bokeh.jpg);
    background-size: cover;
}

.whole {
    position: relative;
    top: 7%;
}

.header {
    width: 652px;
    background-color: rgb(0, 0, 0, .8);
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0 10px 0;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.form {
    position: relative;
    top: 7px;
    padding: 10px 0 10px 5px;
    line-height: 14px;
    width: 650px;
    margin: auto;
    background-color: rgb(0, 0, 0, .7);
    margin: auto;
    color: #FFFFFF;
    border-bottom: rgb(233, 233, 233);
    border-radius: 0 0 20px 20px;
}

h2 {
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 16px;
}

.fname {
    position: relative;
    left: 140px;
    width: 220px;
    top: -25px;
    height: 25px;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 16px;
}

.fname:hover {
    background-color: rgb(177, 143, 143);
    transition-duration: 20ms;
    color: white;
}

.flabel {
    position: relative;
    left: -80px;
    margin-top: 2px;
    font-size: 12px;
}

.firstname {
    position: relative;
    left: 140px;
    width: 450px;
    top: -25px;
    height: 25px;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 16px;
}

.firstlabel {
    position: relative;
    left: -310px;
    margin-top: 2px;
    font-size: 12px;
}

.lastname {
    position: relative;
    left: 80px;
    height: 25px;
    top: -25px;
    width: 220px;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 16px;
    text-decoration-color: white;
}

.lastlabel {
    position: relative;
    left: -140px;
    font-size: 12px;
}

.department {
    position: relative;
    left: 140px;
    height: 25px;
    width: 450px;
    top: -25px;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 16px;
}

.submit {
    position: relative;
    background-color: #73d8cb;
    margin-top: 1%;
    margin-left: -400px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

.submit:hover {
    background-color: white;
    transform: rotateY(180deg);
    transition-duration: .5s;
}

.firstname:hover {
    background-color: rgb(177, 143, 143);
    transition-duration: 20ms;
    color: white;
}

.lastname:hover {
    background-color: rgb(177, 143, 143);
    transition-duration: 20ms;
    color: white;
}

.logo {
    position: absolute;
    margin-left: -320px;
    height: 50px;
    width: 50px;
    padding-bottom: 5px;
}