* {
    margin: 0%;
    padding: 0%;
}
h1{
    font-size: 3rem;
}
body {
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
@media (min-width:480px){
    body{
        background-image: url(bg2.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    h2{
        margin-left: 10%;
        margin-top: 2%;
        width: 40%;
        color: white;
        font-size: 24px;
        font-weight: 16px;
    }
    .fname {
        position: relative;
        left: 50%;
        width: 40%;
        top: -45px;
        height: 30px;
        border-radius: 6px;
        padding: 0 20px;
        font-size: 16px;
    }

}
.whole {
    position: relative;
    top: 7%;
    background-repeat: no-repeat;
}

.header {
    width: 80vw;
    height: 100px;
    background-color: rgb(0, 0, 0, .8);
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0 10px 0;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.form {
    position: relative;
    top: 7px;
    padding: 10px 0 10px 5px;
    /* line-height: 14px; */
    width: 80vw;
    height: fit-content;
    margin: auto;
    background-color: rgb(0, 0, 0, .7);
    margin: auto;
    color: #FFFFFF;
    border-bottom: rgb(233, 233, 233);
    border-radius: 0 0 20px 20px;
}

h2 {
    margin-left: 10%;
    margin-top: 2%;
    width: 40%;
    color: white;
    font-size: 24px;
    font-weight: 16px;
    
}

.fname {
    position: relative;
    left: 50%;
    width: 40%;
    top: -30px;
    height: 30px;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 16px;
}

.fname:hover {
    background-color: rgb(177, 143, 143);
    transition-duration: 20ms;
    color: white;
}

.flabel {
    position: relative;
    left: -80px;
    margin-top: 2px;
    font-size: 12px;
}

.firstname {
    position: relative;
    left: 50%;
    width: 40%;
    top: -25px;
    height: 90px;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 16px;
}

.firstlabel {
    position: relative;
    left: -310px;
    margin-top: 2px;
    font-size: 12px;
}

.lastname {
    position: relative;
    left: 80px;
    height: 25px;
    top: -25px;
    width: 220px;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 16px;
    text-decoration-color: white;
}


.department {
    position: relative;
    left: 140px;
    height: 25px;
    width: 450px;
    top: -25px;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 16px;
}
.detail{
    height: 20px;
}
.submit {
    position: relative;
    background-color: #73d8cb;
    margin-left: 30%;
    align-content: center;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
}

.submit:hover {
    background-color: white;
  

}

.firstname:hover {
    background-color: rgb(177, 143, 143);
    transition-duration: 20ms;
    color: white;
}

.lastname:hover {
    background-color: rgb(177, 143, 143);
    transition-duration: 20ms;
    color: white;
}

.logo {
    position: absolute;
    margin-left: -380px;
    height: 80px;
    width: 80px;
    padding-top: 0;
    margin-top: 0%;
    padding-bottom: 5px;
    overflow: hidden;
}